
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Phi Kappa Phi Honor Society (2019)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Dean's Distinguished Honor List (4 semesters)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Dean's Honor List (2 semester)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Ayn Rand "Anthem" Essay Contest finalist (2014)</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Microsoft Office Word 2010 Certification</li>
        </ul>
      </div>
    </section>
