 <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Mathematics and Computer Science tutor</h3>
            <div class="subheading mb-3">Arcadia University Learning Resource Network</div>
            <p>Teach and review class materials with students in various mathematics and computer science courses.
Analyze the individual needs of each student and track progress to ensure improvement in course understanding and grades.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2017 - Present</span>
          </div>
        </div>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Home Health Aide</h3>
            <div class="subheading mb-3">Prestige Home Care Agency</div>
            <p>Cared for a fifteen year old on the autism spectrum. Prepared meals, assisted occupational therapists with tasks, and guided the patient through homework assignments.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2018 - August 2018</span>
          </div>
            </div>
     <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
              <div class="resume-content">
                <h3 class="mb-0">Cashier</h3>
                <div class="subheading mb-3">Sears Holdings</div>
                <p>Efficiently processed transactions in a busy, fast-paced environment. Maintained accurate cash flow, conducted opening and closing procedures, and conducted end of day reconciliations. Improved social and communication skills</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2017 - August 2017</span>
              </div>
            </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
              <div class="resume-content">
                <h3 class="mb-0">Teacher's Aide</h3>
                <div class="subheading mb-3">Myers Elementary School CLASP</div>
                <p>Supervised groups of children in classrooms and on playgrounds during after school program. Interacted and communicated with children of all ages. Instructed groups of children in games and classroom activities.</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">September 2016 - May 2017</span>
              </div>
            </div>
       
          </div>

</section>


