  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>When not working or studying, I enjoy reading and writing fiction, listening to music, and spending time with friends and family. I played clarinet for eight years, took piano lessons for five years, and took guitar lessons for two. </p>
        <p class="mb-0">In contrast to these at-home activities, I love traveling. I've been to Rome, London, Devon, Kassel, Würzburg, Nuremberg, Rothenburg ob der Tauber, Munich, Freiburg, Heidelberg, and Schwangau.</p>
      </div>
    </section>


