 <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="fa-ul mb-0">
          <li>
             <i class="fa-li fa fa-check"></i>
            Java</li>
          <li>
             <i class="fa-li fa fa-check"></i>
            Python</li>
          <li>
             <i class="fa-li fa fa-check"></i>
            HTML</li>
          <li>
             <i class="fa-li fa fa-check"></i>
            SPSS</li>
          <li>
             <i class="fa-li fa fa-check"></i>
            R</li>
        </ul>

        <div class="subheading mb-3">Other Skills</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Basic Spanish</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Microsoft Office</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Time management</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Organization</li>
        </ul>
      </div>
    </section>
